<header class="site-header">

  <div class="container">
    <h1 class="d-flex align-items-center">
        <img src="/favicon.png"
          srcset="/favicon64.png 2x, /favicon96.png 3x"
          class="brand-image img-fluid" alt="Ёкарный бабай - логотип">
        <a class="site-title mt-2 ml-3" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <div>Проекты, публикации и разные записки Гурова Павла, программиста, который не пишет магического кода.</div>
    <hr>
    <ul class="navbar-list" style="display: none">
      <li class="navbar-item">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="navbar-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </li>
    </ul>

  </div>

</header>
